@import "./src/assets/styles/variables";

.register-page {
  $self: &;

  &__form {
    display: flex;
    max-width: 700px;
    flex-direction: column;
    margin: auto;

    #{ $self }__checkbox-wrapper {
      display: flex;
      justify-content: flex-end;
      margin: 0.75rem 0;
      align-items: center;

      #{ $self }__checkbox {
        margin-left: 0.5rem;
      }
    }

    #{ $self }__date-wrapper {
      display: flex;
      justify-content: flex-end;
      margin: 0.5rem 0;
      align-items: center;

      #{ $self }__date {
        margin-left: 1rem;
        padding: 0.25rem 0 0.25rem 0.25rem;
      }
    }

    #{ $self }__button-wrapper {
      display: flex;
      justify-content: flex-end;

      #{ $self }__btn {
        max-width: 100px;
      }
    }

    .requirement-container {
      $requirement: requirement-container;

      margin: 1rem auto;

      &__item {
        width: max-content;

        .#{ $requirement }__text {
          color: $light_black;
          padding: 0.3rem;
          display: flex;
          align-items: center;
          position: relative;

          &:before {
            position: absolute;
            width: 0.75rem;
            height: 0.75rem;
            background: $red;
            left: -1rem;
            border-radius: 50%;
            border: 0.063rem solid #80bfff;
            content: "";
            display: block;
          }
        }

        .#{ $requirement }__text--active {
          &:before {
            background: $green;
          }
        }
      }
    }
  }
}